.page-home{
  .wrap {
    padding: 40px 20px;
    width: 400px;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px #ccc;
    margin: 100px auto;
    border-radius: 20px;
  }
  .title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
}